<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <title>Search Disease Activity</title>
</head>
<body style="background-color:whitesmoke;">
<div class>
    <h2 style="margin-left: 32rem;margin-top: 20px;color: darkslategray;">Search Disease Activity</h2>
    <div class="col-sm-4 offset-sm-4 mb-3 mt-3">
        <div class="card bg-light" style="box-shadow: 0 8px 6px -6px black;">
            <div class="card-header text-white bg-dark mb-3"><b>Enter Details</b></div>
            <div class="card-body">
                <p class="card-text">
                <form action="/" method="POST">
                    <div class="form-row">
                        <div>
                            <label for="validationCustom03"><b>Name of Disease :</b></label>
                            <input type="text" style="margin-left: 11px;" name="name"
                                   {% if data %}value="{{ data.name }}"{% endif %} placeholder="Enter name of disease"
                                   required/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div>
                            <label for="validationCustom03"><b>No of Days : </b></label>
                            <input style="margin-top: 20px;margin-left: 55px;" type="number" name="days"
                                   {% if data %}value="{{ data.days }}"{% endif %} placeholder="Enter days" required/>
                        </div>

                    </div>

                    <div class="form-row">
                        <button style="margin-top:20px;margin-left: 246px" class="btn btn-primary" type="submit"
                                value="submit">Submit
                        </button>
                    </div>

                </form>
                </p>

            </div>
        </div>
    </div>
    {% if result %}
        <div class="col-sm-4 offset-sm-4">
            <div class="card " style="box-shadow: 0 8px 6px -6px black;">
                <div class="card-header text-white bg-dark mb-3"><b>Search Results</b></div>
                <div class="card-body bg-light">
                    <p class="card-text">
                    <p>{{ result.title }}</p>
                    <p style="font-weight: bold; color: {{ result.color }}">{{ result.message }}</p>
                    {% if result.link != "" %}
                        <p>For more details<a href={{ result.link }} target="_blank"> click here</a></p>
                    {% endif %}
                </div>
                </p>
            </div>
        </div>
    {% endif %}

</div>
</body>

</body>
</html>